*{
    --fonts: 'Rubik', sans-serif;
    --BGcolor: #F4F4FB;
    --inputColor: rgb(226, 226, 226);;
    --btnColor: #39AFEA;
    --listColor: #2a306d;
    --listFontColor: #F4F4FB;
}
body{
    background-color: var(--BGcolor);
    font-family: var(--fonts);
    padding: 1em;
    font-size: 16px;
    user-select: none;

}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
img{
    width: 200px;
    display: block;
}
input{
    display: block;
    background-color: var(--inputColor);
    color: rgb(43, 43, 43);
    
    
}
button{
    height: 2em;
    background-color: var(--btnColor) ;
    color:#EEF0F4
}
button:hover{
 cursor:pointer;
 background-color: #2d9ad1;
}

.input-style{
    width: 80%;
    height: 2.5em;
    max-width: 600px;
    border: none;
    border-radius: 10px;
    font-family: var(--fonts);
    text-align: center;
    font-size: 1.15em;
}
#ul-el{
    display: flex; 
    list-style: none;
    gap: 1em;
    flex-wrap: wrap;
    
    padding: 0;
    
}
li{
    background-color: var(--listColor);
    padding: .75em 1.75em;
    border-radius: 15px;
    color: var(--listFontColor);
    text-align: center;
    font-size: 1.15em;
    flex-grow: 1;
    

}
li:hover{
    background-color: #16193a;
    cursor: pointer;
}
#button-area{
    width: 100%;
    text-align: center;
}
#input-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
#link{
    text-decoration: none;
    color: var(--listColor);
    margin-top: 5em;
    font-size: .85em;
}
#link:hover{
    color: var(--btnColor)
}
#heading{
    padding: 0;
    margin: 0;
}